<nav class="navbar navbar-light bg-light w-75 mx-auto">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="DD-MM-YYY" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search by date</button>
  </form>
</nav>