<div class="card text-center w-50 bg-light mx-auto">
    <div class="card-header">
      <strong>LOGIN</strong>
    </div>
    <div class="card-body text-left">
      <div class="card-text">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">User name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <p></p>
            <button type="submit" class="btn btn-warning btn-block text-white ">Submit</button>
            
          </form>
        </div>
    </div>
    <div class="card-footer text-muted">
 
    </div>
  </div>