
<div class="bg-secondary">
    <app-search-diary></app-search-diary>
</div>

<div class="mt-5" *ngFor ="let d of diaryDetails; let i = index">
<div class="card w-75 mx-auto">
      <div class="card-header">
          <h5 class="card-title">Date:&nbsp;&nbsp;{{d.updated_date}}</h5>
          <div *ngIf =""></div>
      </div>
        <div class="card-body">
          <p class="card-text"><strong>Breakfast:</strong>&nbsp;&nbsp;{{d.breakfast}}</p>
          <p class="card-text"><strong>Lunch:</strong>&nbsp;&nbsp;{{d.lunch}}</p>
          <p class="card-text"><strong>Dinner:</strong>&nbsp;&nbsp;{{d.dinner}}</p>
          <p class="card-text"><strong>Supper:</strong>&nbsp;&nbsp;{{d.supper}}</p>
          <p class="card-text"><strong>Snacks:</strong>&nbsp;&nbsp;{{d.snacks}}</p>
          <p class="card-text"><strong>Comments:</strong>&nbsp;&nbsp;{{d.comments}}</p>
          <a (click)="edit(d, i, template)" class="btn-warning btn-sm">Update</a>
          <a (click)="delete(d, i)" class="btn-secondary btn-sm">Delete</a>
        </div>
    </div>
</div>

<ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Update Diary</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <br>
            <div class="container">
              
            <form #editDiaryForm="ngForm" (ngSubmit)="updateD()" novalidate>
              <div class="form-group row">
                <input id="breakfast" #breakfast="ngModel" name="breakfast" type="text" [(ngModel)]="editDiary.breakfast" placeholder="Breakfast" class="form-control" [ngClass]="{'has-error': breakfast.errors}" required/>
              </div>
              
              <div class="form-group row">
                <input id="lunch" #lunch="ngModel" name="lunch" type="text" [(ngModel)]="editDiary.lunch" placeholder="lunch" class="form-control" [ngClass]="{'has-error': lunch.errors}" required/>
              </div>
              
              <div class="form-group row">
                <input id="dinner" #lunch="ngModel" name="dinner" type="text" [(ngModel)]="editDiary.dinner" placeholder="Dinner" class="form-control" [ngClass]="{'has-error': dinner.errors}" required/>
              </div>

              <div class="form-group row">
                <input id="supper" #supper="ngModel" name="supper" type="text" [(ngModel)]="editDiary.supper" placeholder="Supper" class="form-control" [ngClass]="{'has-error': supper.errors}" required/>
            </div>
            
              <div class="form-group row">
                <input id="snacks" #snacks="ngModel" name="snacks" type="text" [(ngModel)]="editDiary.snacks" placeholder="Snacks" class="form-control" [ngClass]="{'has-error': snacks.errors}" required/>
              </div>

                <button type="submit" id="editDiaryBtn" [disabled]="!editDiaryForm.form.valid" class="btn btn-primary">Save</button>
            </form>
            
            </div>
        </div>
      </ng-template>
<br>