body, html {
    height: 100%;
}
.bg { 
    background-image: url("/assets/background_img.jpg");

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    position: fixed;
    left: 0;
    width: 0;
    bottom: 0;
    background-color: #D6901E
    
    ;
}

a:link {
     color: white;
}

a:visited {
    color: #DCC08D
}

a:hover {
    color: #E9CE1F;
    
}