<div class="bg">
  <nav class="navbar navbar-expand-lg text-white navbar-light bg-warning">
      <a class="navbar-brand" routerLink="login"><img src="/assets/FAB_logo_white.png" height="60px" alt="FAB logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/food-diary" routerLinkActive ="active">Food Diary</a>
              </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/food-details" routerLinkActive ="active">Diary Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Search Food</a>
          </li>
        </ul>
      </div>
    </nav>

<p></p>
<router-outlet></router-outlet>

<p></p>
</div>
<app-footer></app-footer>