<p></p>
<form #fabDiaryForm="ngForm" (ngSubmit)="saveDiary(fabDiaryForm)" novalidate>
<div class="container-fluid">
<div class="card w-75 bg-light mx-auto">
  <div class="card-header ">
    <h3 class="card-title ">My FAB Food Diary</h3>
    <p class="card-text">You are what you eat!</p>
  </div>
  <div class="card-body">
      
    <div class="form-group" [class.has-error]="dDateControl.invalid && dDateControl.touched">
          <label for="dDate" class="control-label">Diary Entry Date:</label>
          <input required id="dDate" [(ngModel)]="entryDate" name="dDate" type="text" bsDatepicker theme-orange [bsConfig]="datePickerConfig" class="form-control" #dDateControl="ngModel" required>
          <span class="has-warning" *ngIf="dDateControl.invalid && dDateControl.touched">
            Date is required.
          </span>
        </div>

    <div class="form-group">
      <label for="breakfast">Breakfast:</label>
      <input required id="breakfast" [(ngModel)]="breakfast" name="breakfast" type="text" class="form-control" #breakfastControl="ngModel">
    </div>
    <div class="form-group">
        <label for="lunch">Lunch:</label>
        <input id="lunch" [(ngModel)]="lunch" name="lunch" type="text" class="form-control" #lunchControl="ngModel">
      </div>

      <div class="form-group">
          <label for="dinner">Dinner:</label>
          <input id="dinner" [(ngModel)]="dinner" name="dinner" type="text" class="form-control" #dinnerControl="ngModel">
        </div>

        <div class="form-group">
            <label for="supper">Supper:</label>
            <input id="supper" [(ngModel)]="supper" name="supper" type="text" class="form-control" #supperControl="ngModel">
          </div>

          <div class="form-group">
              <label for="comments">Notes:</label>
              <textarea id="comments" class="form-control" [(ngModel)]="comments" name="comments" class="form-control" #commentsControl="ngModel"></textarea>
            </div>

        

  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary btn-lg btn-block btn btn-warning text-white" [disabled] = "!fabDiaryForm.form.valid" >Save</button>
  </div>
</div>
</div>
</form>
